:root {
  --font-family: 'Ubuntu', Helvetica, sans-serif;

  // themes
  --primary: #fff;
  --secondary: #fff;
  --tertiary: #fff;
  --quaternary: #fff;
  --accent: #fff;
  --background: #fff;
  --light: #fff;

  // static
  --white: #fff;
  --cookie-button-bg: #002b53;
  --cookie-button-hover: #00487c;
  --cookie-button-text: #f9f871;
  --cookie-text: #002b53;
  --overlay: #2e2e2eb3
}